<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Deep Blue Admin</title>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/local.css" />
    <link href="select2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css" />




    <!--<script type="text/javascript" src="js/moment.min.js"></script>-->


   <!-- <script src="pace/pace.min.js"></script>
    <link href="pace/pace-theme.css" rel="stylesheet" />-->
    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <!-- <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
     <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
     <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>-->
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{rc.contextPath}}/index">Admin Panel</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li {{#index}} class="active" {{/index}} ><a href="{{rc.contextPath}}/index"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                <li {{#portfolio}} class="active" {{/portfolio}} ><a href="{{rc.contextPath}}/portfolio"><i class="fa fa-tasks"></i> Portfolio</a></li>
                <li {{#blog}} class="active" {{/blog}}><a href="{{rc.contextPath}}/blog"><i class="fa fa-globe"></i> Blog</a></li>
                <li {{#signup}} class="active" {{/signup}}><a href="{{rc.contextPath}}/signup"><i class="fa fa-list-ol"></i> SignUp</a></li>
                <li {{#register}} class="active" {{/register}}><a href="{{rc.contextPath}}/register"><i class="fa fa-font"></i> Register</a></li>
                <li {{#timeline}} class="active" {{/timeline}}><a href="{{rc.contextPath}}/timeline"><i class="fa fa-font"></i> Timeline</a></li>
                <li {{#forms}} class="active" {{/forms}}><a href="{{rc.contextPath}}/forms"><i class="fa fa-list-ol"></i> Forms</a></li>
                <li {{#typography}} class="active" {{/typography}}><a href="{{rc.contextPath}}/typography"><i class="fa fa-font"></i> Typography</a></li>
                <li {{#bootstrap-elements}} class="active" {{/bootstrap-elements}}><a href="{{rc.contextPath}}/bootstrap-elements"><i class="fa fa-list-ul"></i> Bootstrap Elements</a></li>
                <li {{#bootstrap-grid}} class="active" {{/bootstrap-grid}}><a href="{{rc.contextPath}}/bootstrap-grid"><i class="fa fa-table"></i> Bootstrap Grid</a></li>
                <li {{#blank}} class="active" {{/blank}}><a href="{{rc.contextPath}}/blank"><i class="fa fa-question"></i> Blank</a></li>
                <li {{#negara}} class="active" {{/negara}}><a href="{{rc.contextPath}}/negara"><i class="fa fa-question"></i> Negara</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown messages-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">2 New Messages</li>
                        <li class="message-preview">
                            <a href="#">
                                <span class="avatar"><i class="fa fa-bell"></i></span>
                                <span class="message">Security alert</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="message-preview">
                            <a href="#">
                                <span class="avatar"><i class="fa fa-bell"></i></span>
                                <span class="message">Security alert</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                    </ul>
                </li>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Steve Miller<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>