<div class="panel-default">
    <div class="panel-body">
        <div id="pesan_error">

        </div>
        <form  id="myForm" method="post" action="{{rc.contextPath}}/simpan-negara" >
            <fieldset>
                <legend>dsdsdsd</legend>
            <div class="form-group">
                <label for="id">ID</label>
                <input id="id" type="number" name="idNegara" class="form-control">
            </div>
            <div class="form-group">
                <label for="name">Nama</label>
                <input id="name" type="text" name="name" class="form-control" autocomplete="">
            </div>
            </fieldset>
                <input type="submit" value="Simpan" class="btn btn-primary">
                <a id="batal" href="{{rc.contextPath}}/negara" class="btn btn-primary">Batal</a>
        </form>
    </div>
</div>
<script>
$(function(){
    $('#myForm').submit(function(event){
        event.preventDefault();
        var url = $(this).attr('action');
        $.post(url, $(this).serialize(), function(jsonData){
            if(jsonData.error==0) {
               //$(this).hide();
               //alert('modal ditutup');
            }
            else {
               var value = "<div id='pesan_error' class='alert alert-success alert-dismissable'>"
                            + jsonData.message
                            + "</div>";
               $('#pesan_error').replaceWith(value);
            }
        }, "json");
    });

});

</script>